body {
  font-family: arial, sans-serif;
}
form {
  margin: 0 0 10px;
}
h1 {
  font-size: 22px;
  line-height: 26px;
  display: block;
  font-weight: 100;
  color: #202124;
}
ul {
  margin: 0 0 10px;
  padding: 0;
}
li {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  display: block;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-app {
  border: 1px solid #dadce0;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
}
.temperature {
  line-height: 1;
  font-size: 64px;
  color: #202124;
  font-weight: 400;

  top: 20px;
}
.units {
  position: relative;
  top: -35px;
}
.weather-icon {
  size: 64px;
  padding: 0 0;
  position: relative;
  top: -19px;
  margin-right: 10px;
}

.weather-temperature .active {
  color: #202124;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-temperature .farenheit {
  text-decoration: none;
}

#celcius-temperature {
  text-decoration: none;
}
